<ion-view view-title="TodoList">
  <ion-content>
    <div ng-controller="myStuff as todoList">
      <div id="filter" class="myStuff" ng-init="selectedTab = 'all'">
        <h4 ng-class="{'active':selectedTab === 'all'}" ng-click="filters.done = ''; selectedTab = 'all'" class="padding-vertical">All <span>( {{todoList.todos.length}} )</span></h4>

        <h4 ng-class="{'active':selectedTab === 'active'}" ng-click="filters.done = 'false'; selectedTab = 'active'" class="padding-vertical">Active <span>( {{todoList.remaining()}} )</span></h4>

        <h4 ng-class="{'active':selectedTab === 'finished'}" ng-click="filters.done = 'true'; selectedTab = 'finished'" class="padding-vertical">Finished <span>( {{todoList.todos.length - todoList.remaining()}} )</span></h4>
      </div>

      <form ng-submit="todoList.addTodo()">
        <label class="item item-input">
          <i class="icon ion-quote placeholder-icon"></i>
          <input ng-model="todoList.todoText" type="text" placeholder="What shit needs to get done ?">
        </label>
      </form>
      <ion-list>
        <ion-item type="item-text-wrap" ng-repeat="todo in todoList.todos | filter:filters" >
          <ion-checkbox ng-click="todoList.update(todo.id, todo.done)" ng-model="todo.done" class="done-{{todo.done}}">
            <h2 class="done-{{todo.done}}" >{{todo.description}}</h2>
            <p ng-if="!todo.done" class="time ion-clock"> in {{todo.time}}</p>
          </ion-checkbox>
          <ion-option-button class="button-assertive" ng-click="todoList.remove(todo.id)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
